:root{
  --bgr_color : linear-gradient(180deg, #eccda9, #eca0bc);
  --bgr_color_boder:linear-gradient(180deg, #febb6c, #e677a0);
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav_item i {
  padding-right: 10px;
}

header {
  position: absolute;
  width: 300px;
  height: 100vh;
  background: var(--bgr_color);
  box-shadow: 1px 0px 5px 0px #4a3636;
  overflow: hidden;
  transition: width 0.1s;
}

.logo_menu {
  display: block;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #ec0808;
}

.img_logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.nav_item {
  line-height: 60px;
  padding-left: 50px;
  color: #806666;
}

.nav_item a {
  text-transform: uppercase;
  font-weight: bold;
}

.nav_item i {
  width: 30px;
  text-align: center;
}

.nav_item:hover {
  box-shadow: 0 0 5px 1px #4a3636;
  background: var(--bgr_color);
  color: #1dbd9f;
}

.nav_item:active {
  box-shadow: inset 0 0 4px 1px #4a3636;
}

.active {
  box-shadow: 0 0 5px 1px #4a3636;
  background: var(--bgr_color);
  color: #1dbd9f;
}
/* ===================================*/
.border_btn{
  height: 0;
  width: 0;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  position: fixed;
  box-shadow: 0 0 6px 1px #534a4a;
  overflow: hidden;
  transition: width 0.3s,height 0.3s;
}
.border_btn:active{
  box-shadow: inset 0 0 3px 1px #534a4a;
}
.btn_menu {
  margin: auto;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}

.btn_menu span {
  position: relative;
  background-color: #858585;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-top: 5px;
  padding: 0;
  width: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  header {
    width: 0;
    overflow: hidden;
  }
  .border_btn{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
  }
}
@media only screen and (max-width: 768px){
  .logo_menu{
    height: 150px;
    width: 150px;
  }
  .img_logo{
    height: 150px;
    width: 150px;
  }
  .nav_item{
    line-height: 45px;
  }
  .nav_item a{
    font-size: 13px;
  }
}
/* +========== HOME PAGE ==============*/
.ss_home{
  display: block;
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100vh;
  text-align: center;
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: margin 3s;
}
.text_name{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dbac7159;
}
.txt{
  font-family: 'Source Code Pro', monospace;
  color: #fff;
}
.h3{
  font-weight: bold;
  font-size: 60px;
  margin: 0;
}
.p{
  font-size: 25px;
}
.border_text{
  width: 60%;
  margin-left: 20%;
  border: 3px solid;
  border-image-source: var(--bgr_color_boder);
  border-image-outset: 10px;
  border-image-slice: 1;
  padding: 30px 0;
  background-color: #7e7373b5;
}
.btn{
  display: block;
  background-color: var(--bgr_color_boder);
  border: 2px solid;
  padding: 15px 0;
  width: 120px;
  margin: 30px auto;
  border-image-source: var(--bgr_color_boder);
  border-image-slice: 1;
  color:#fff;
  transition: width 0.3s;
}
.btn:hover{
  cursor: pointer;
  width: 150px;
  box-shadow: 0 0 3px 2px white;
}
.btn:hover .fa-arrow-right{
  padding-left: 10px;

}
.btn:active{
  box-shadow: inset 0 0 4px 1px white;
}
@media only screen and (max-width: 1024px) {
  .ss_home{
    margin-left: 0;
    width: 100%;
  }
  .h3{
    font-size: 50px;
  }
  .p{
    font-size: 25px;
  }
}
@media only screen and (max-width: 768px){
  .h3{
    font-size: 35px;
  }
  .p{
    font-size: 18px;
  }
  .border_text{
    width: 90%;
    margin-left: 5%;
  }
}