:root {
  --bgr_color_old: linear-gradient(180deg, #eccda9, #eca0bc);
  --bgr_color: white;
  --bgr_color_ative: linear-gradient(90deg, #fbe6cd, #ffe2ed);
  --bgr_color_boder: linear-gradient(180deg, #febb6c, #e677a0);
  --bgr_color_blur: #ffffffbf;
  --color_shadow: #513f3f;
  --text-nav: #947979ab;
  --text-active: #945718;
  --color-border-resume: rgb(49, 44, 44);
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

ul, li, h5, h3, p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ---- Preloader ----- */

#preloader {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#preloader .spinner {
  width: 60px;
  height: 60px;
  margin: auto;
}

.txt-preload {
  color: white;
}

.spinner img {
  width: 100%;
}

.nav_item i {
  padding-right: 10px;
}

@media only screen and (max-width: 1024px) {
  #preloader .spinner {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  #preloader .spinner {
    width: 30px;
    height: 30px;
  }
}

header {
  position: absolute;
  display: block;
  width: 300px;
  height: 100vh;
  background: var(--bgr_color);
  box-shadow: 1px 0px 5px 0px var(--color_shadow);
  overflow: hidden;
  transition: width 0.3s;
  position: fixed;
  z-index: 10;
}

.logo_menu {
  display: block;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px var(--color_shadow);
}

.img_logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.nav_item {
  line-height: 60px;
  padding-left: 50px;
  color: #806666;
}

.nav_item a {
  text-transform: uppercase;
  font-weight: bold;
}

.nav_item i {
  width: 30px;
  text-align: center;
}

.nav_item:hover {
  box-shadow: 0 0 5px 1px var(--color_shadow);
  background: var(--bgr_color_ative);
  color: var(--text-active);
}

.nav_item:active {
  box-shadow: inset 0 0 4px 1px var(--color_shadow);
}

.active {
  box-shadow: 0 0 5px 1px var(--color_shadow);
  background: var(--bgr_color_ative);
  color: var(--text-active);
}

/* ===================================*/

.border_btn {
  height: 0;
  width: 0;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  position: fixed;
  box-shadow: 0 0 6px 1px var(--color_shadow);
  overflow: hidden;
  transition: width 0.3s, height 0.3s;
}

.border_btn:active {
  box-shadow: inset 0 0 3px 1px var(--color_shadow);
}

.btn_menu {
  margin: auto;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}

.btn_menu span {
  position: relative;
  background-color: #858585;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-top: 5px;
  padding: 0;
  width: 30px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.humb:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5px);
}

.humb:nth-child(2) {
  opacity: 0;
}

.humb:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@media only screen and (max-width: 1024px) {
  header {
    width: 0;
    overflow: hidden;
  }
  .border_btn {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background-color: #fffc;
  }
}

@media only screen and (max-width: 768px) {
  .logo_menu {
    height: 150px;
    width: 150px;
  }
  .img_logo {
    height: 150px;
    width: 150px;
  }
  .nav_item {
    line-height: 45px;
  }
  .nav_item a {
    font-size: 13px;
  }
}

/* +========== HOME PAGE ==============*/

.ss_home {
  display: block;
  position: absolute;
  width: calc(100% - 300px);
  right: 0;
  height: 100vh;
  text-align: center;
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: margin 0.3s;
}

.text_name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bgr_color_blur);
}

.txt {
  font-family: 'Source Code Pro', monospace;
  color: #fff;
}

.h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  letter-spacing: 1px;
}

.p {
  font-size: 25px;
}

.border_text {
  width: 60%;
  margin-left: 20%;
  border: 3px solid;
  border-image-source: var(--bgr_color_boder);
  border-image-outset: 10px;
  border-image-slice: 1;
  padding: 30px 0;
  background-color: #7e7373b5;
}

.btn {
  display: block;
  background-color: var(--bgr_color_boder);
  border: 2px solid;
  padding: 15px 0;
  width: 120px;
  margin: 30px auto;
  border-image-source: var(--bgr_color_boder);
  border-image-slice: 1;
  color: #fff;
  transition: width 0.3s;
}

.btn:hover {
  cursor: pointer;
  width: 150px;
  box-shadow: 0 0 3px 2px white;
}

.btn:hover .fa-arrow-right {
  padding-left: 10px;
}

.btn:active {
  box-shadow: inset 0 0 4px 1px white;
}

@media only screen and (max-width: 1024px) {
  .ss_home {
    margin-left: 0;
    width: 100%;
  }
  .h3 {
    font-size: 50px;
  }
  .p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }
  .p {
    font-size: 18px;
  }
  .border_text {
    width: 90%;
    margin-left: 5%;
  }
}

/*============= ABOUT ================== */

.ss_about {
  position: absolute;
  width: calc(100% - 300px);
  margin-left: 300px;
  background-color: var(--bgr_color_blur);
  height: 100vh;
  top: 100vh;
}

.bg_about {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bgr_color_blur);
  opacity: 0.7;
}

.about {
  margin: 0;
}

.base-info {
  position: absolute;
  width: 50%;
  height: 444px;
  left: 0;
}

.info-boder {
  width: 80%;
  margin: auto;
  padding: 40px 0;
  border-radius: 10px;
  height: 360px;
  overflow: hidden;
  box-shadow: 0 0 7px 2px var(--text-active);
}

.info {
  width: 80%;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.info-item {
  margin: 15px 0;
}

.info-item i {
  width: 30px;
}

.more-info {
  position: absolute;
  height: 444px;
  width: 50%;
  right: 0;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 2px 0px var(--color_shadow);
}

.txt-info {
  padding: 0 30px;
}

.contact-item:hover {
  box-shadow: 0 0 5px 0px var(--color_shadow);
}

.contact-item:hover .fa-facebook-f, .fa-skype {
  color: #1563f3;
}

.contact-item:hover .fa-skype {
  color: #1563f3;
}

.contact-item:hover .fa-google {
  color: #f15353;
}

.contact-item:hover .fa-github {
  color: #060505;
}

.contact-item i {
  color: var(--text-nav);
}

@media only screen and (max-width: 1024px) {
  .ss_about {
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .ss_about {
    height: 1008px;
  }
  .bg_about {
    width: 100%;
    position: absolute;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .base-info {
    position: relative;
    width: 100%;
  }
  .more-info {
    position: relative;
    width: 100%;
  }
}

.top {
  height: 0px;
  width: 100%;
  position: fixed;
}

/* ---------- RESUME ------------- */

.ss_resume {
  position: relative;
  top: 200vh;
  display: flex;
  justify-content: space-around;
  width: calc(100% - 300px);
  margin-left: 300px;
}

.education, .hobbies {
  width: 50%;
}

.res_div {
  padding: 0 40px 40px 40px;
}

.res_title {
  line-height: 40px;
  border-bottom: 1px dotted var(--text-active);
  text-transform: uppercase;
  color: var(--text-active);
}

.res_title i {
  padding-right: 10px;
}

.edu_year, .hob_icon i {
  line-height: 80px;
  width: 120px;
  text-align: center;
}
.edu_year,.text_edu,.hob_text,.hob_icon{
  border-bottom: 1px dotted var(--text-active);
}
.text_edu, .hob_text {
  width: calc(100% - 120px);
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.edu_name{
  padding-left: 10px;
  border-left: 1px dotted var(--text-active);
}
.edu_item, .hob_item {
  display: flex;
  flex-direction: row;
  
}
.hob_text h5{
  padding: 15px 0 15px 10;
  border-left: 1px dotted var(--text-active);

}
.small_text {
  font-size: 12px;
  padding: 7px 0;
}
h3 i {
  color:var(--text-active)
}
h5 {
  color: #7d7d7d;
}
@media only screen and (max-width: 1024px) {
  .ss_resume {
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .ss_resume {
    flex-direction: column;
    justify-content: flex-start;  
    height: 100vh;
    top: calc(100vh + 1008px);
  }
  .education, .hobbies {
    width: 100%;
  }
}
/* ========== SKILL ========== */
.ss_skill{
  display: flex;
  position: absolute;
  width: calc(100% - 300px);
  margin-left: 300px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  top:calc(200vh + 424px);
}
.skill{
  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill_ad{
  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  position: relative;
  width:30%;
  border: 1px solod var(--text-active);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover{
  transform:translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
}
.percent{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 20px #000a;
  background: #fff;
  z-index: 9;
}
.number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} 
.percent .number h2{
  color:#777a;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
.card:hover .percent .number h2{
  color: var(--text-active);
  font-size: 30px;
}
.percent .number h2 span{
  font-size: 24px;
}
.card:hover .percent .number h2 span{
  color: var(--text-active);
}
.text{
  position: relative;
  color: #777777;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
}
.card:hover .text{
  color: var(--text-active);
}
svg{
  position: relative;
  width:150px;
  height:150px;
  z-index: 9;
}
svg circle{
  width: 140px;
  height: 140px;
  fill:none;
  stroke:rgba(40, 255, 156,0);
  stroke-width: 3;
  stroke-linecap: round;
  transform: translate(3px,3px);
}
svg circle:nth-child(2){
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: stroke-dashoffset 4s;
}
.card:nth-child(1) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 0 / 100));
  stroke:#00ff43;
}
.card:nth-child(2) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 0 / 100));
  stroke:#00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 0 / 100));
  stroke:#ff04f7;
}
.skill_ad .card:nth-child(1) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 0 / 100));
  stroke:#ffd86e;
}
.skill_ad .card:nth-child(2) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 0 / 100));
  stroke:#f85454;
}
@media only screen and (max-width: 1024px) {
  .ss_skill {
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .ss_skill{
    top:calc(200vh + 1008px);
  }
  .skill,.skill_ad{
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
}
/*skill 1500,about 1008*/
/* --------- Projet ---------- */
.ss_project{
  display: flex;
  position: absolute;
  width: calc(100% - 300px);
  margin-left: 300px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  top:calc(300vh + 424px);
}
.ss_project h1{
  color : var(--color_shadow);
}
@media only screen and (max-width: 1024px) {
  .ss_project {
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .ss_project{
    top:calc(200vh + 2508px);
  }
}