:root{
  --bgr_color_old:linear-gradient(180deg, #eccda9, #eca0bc);
  --bgr_color : white;
  --bgr_color_ative : linear-gradient(90deg, #fbe6cd, #ffe2ed);
  --bgr_color_boder:linear-gradient(180deg, #febb6c, #e677a0);
  --bgr_color_blur:#ffffffbf;
  --color_shadow:#513f3f;
  --text-nav:#947979ab;
  --text-active:#945718;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav_item i {
  padding-right: 10px;
}

header {
  position: absolute;
  display: block;
  width: 300px;
  height: 100vh;
  background: var(--bgr_color);
  box-shadow: 1px 0px 5px 0px var(--color_shadow);
  overflow: hidden;
  transition: width 0.3s;
  position: fixed;
  z-index: 10;
}

.logo_menu {
  display: block;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px var(--color_shadow);
}

.img_logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.nav_item {
  line-height: 60px;
  padding-left: 50px;
  color: #806666;
}

.nav_item a {
  text-transform: uppercase;
  font-weight: bold;
}

.nav_item i {
  width: 30px;
  text-align: center;
}

.nav_item:hover {
  box-shadow: 0 0 5px 1px var(--color_shadow);
  background: var(--bgr_color_ative);
  color: var(--text-active);
}

.nav_item:active {
  box-shadow: inset 0 0 4px 1px var(--color_shadow);
}

.active {
  box-shadow: 0 0 5px 1px var(--color_shadow);
  background: var(--bgr_color_ative);
  color: var(--text-active);
}
/* ===================================*/
.border_btn{
  height: 0;
  width: 0;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  position: fixed;
  box-shadow: 0 0 6px 1px var(--color_shadow);
  overflow: hidden;
  transition: width 0.3s,height 0.3s;
}
.border_btn:active{
  box-shadow: inset 0 0 3px 1px var(--color_shadow);
}
.btn_menu {
  margin: auto;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}

.btn_menu span {
  position: relative;
  background-color: #858585;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-top: 5px;
  padding: 0;
  width: 30px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.humb:nth-child(1){
  transform: rotate(45deg) translate(6px,5px);
}
.humb:nth-child(2){
  opacity:0;
}
.humb:nth-child(3){
  transform: rotate(-45deg) translate(6px,-6px);
}
@media only screen and (max-width: 1024px) {
  header {
    width: 0;
    overflow: hidden;
  }
  .border_btn{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
  }
}
@media only screen and (max-width: 768px){
  .logo_menu{
    height: 150px;
    width: 150px;
  }
  .img_logo{
    height: 150px;
    width: 150px;
  }
  .nav_item{
    line-height: 45px;
  }
  .nav_item a{
    font-size: 13px;
  }
}
/* +========== HOME PAGE ==============*/
.ss_home{
  display: block;
  position: absolute;
  width: calc(100% - 300px);
  right: 0;
  height: 100vh;
  text-align: center;
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: margin 0.3s;
}
.text_name{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bgr_color_blur);
}
.txt{
  font-family: 'Source Code Pro', monospace;
  color: #fff;
}
.h3{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  letter-spacing: 1px;
}
.p{
  font-size: 25px;
}
.border_text{
  width: 60%;
  margin-left: 20%;
  border: 3px solid;
  border-image-source: var(--bgr_color_boder);
  border-image-outset: 10px;
  border-image-slice: 1;
  padding: 30px 0;
  background-color: #7e7373b5;
}
.btn{
  display: block;
  background-color: var(--bgr_color_boder);
  border: 2px solid;
  padding: 15px 0;
  width: 120px;
  margin: 30px auto;
  border-image-source: var(--bgr_color_boder);
  border-image-slice: 1;
  color:#fff;
  transition: width 0.3s;
}
.btn:hover{
  cursor: pointer;
  width: 150px;
  box-shadow: 0 0 3px 2px white;
}
.btn:hover .fa-arrow-right{
  padding-left: 10px;

}
.btn:active{
  box-shadow: inset 0 0 4px 1px white;
}

@media only screen and (max-width: 1024px) {
  .ss_home{
    margin-left: 0;
    width: 100%;
  }
  .h3{
    font-size: 50px;
  }
  .p{
    font-size: 25px;
  }
  
}
@media only screen and (max-width: 768px){
  .h3{
    font-size: 35px;
  }
  .p{
    font-size: 18px;
  }
  .border_text{
    width: 90%;
    margin-left: 5%;
  }
}

/*============= ABOUT ================== */
.ss_about{
  position: absolute;
  width: calc(100% - 300px);
  margin-left: 300px;
  background-color:var(--bgr_color_blur);
  height: 100vh;
  top:100vh;
}
.bg_about{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bgr_color_blur);
  opacity: 0.7;

}
.about{
  margin: 0;
}
.base-info{
  position: absolute;
  width: 50%;
  height: 444px;
  left: 0;
}
.info-boder{
  width: 80%;
  margin: auto;
  padding: 40px 0;
  border-radius: 10px;
  height: 360px;
  overflow: hidden;
  box-shadow: 0 0 7px 2px var(--text-active);
}
.info{
  width: 80%;
  margin: auto;
  padding-left:  30px;
  padding-right: 30px;
}
.info-item{
  margin: 15px 0;
}
.info-item i{
  width: 30px;
}
.more-info{
  position: absolute;
  height: 444px;
  width: 50%;
  right: 0;
}
.contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact-item{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 2px 0px var(--color_shadow);
}
.txt-info{
  padding: 0 30px;
}
.contact-item:hover{
  box-shadow: 0 0 5px 0px var(--color_shadow);
}
.contact-item:hover .fa-facebook-f,.fa-skype{
  color:#1563f3;
}
.contact-item:hover .fa-skype{
  color:#1563f3;
}
.contact-item:hover .fa-google{
  color:#f15353;
}
.contact-item:hover .fa-github{
  color:#060505;
}
.contact-item i{
  color:var(--text-nav);
}
@media only screen and (max-width: 1024px) {
  .ss_about{
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px){
  .ss_about{
   height: 1008px;
  }
  .bg_about{
    width: 100%;
    position: absolute;
    height : 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .base-info{
    position: relative;
    width: 100%;

  }
  .more-info{
    position: relative;
    width: 100%;
  }
}
